[submodule "ExternalHelpers/GoogleTest"]
	path = ExternalHelpers/GoogleTest
	url = https://github.com/AnkurSheel/googletest.git
[submodule "ExternalHelpers/CombineFiles"]
	path = ExternalHelpers/CombineFiles
	url = https://github.com/AnkurSheel/CombineFiles.git
[submodule "DebuggerVisualisers"]
	path = DebuggerVisualisers
	url = https://github.com/AnkurSheel/DebuggerVisualisers.git
[submodule "ExternalHelpers/CombineFilesCsharp"]
	path = ExternalHelpers/CombineFilesCsharp
	url = https://github.com/AnkurSheel/CombineFilesCsharp.git
